/patient-api/logs/
/patient-api/build/
/.idea/
/ui-api/.gradle
/ui-api/build
/ui-api/logs
/.gradle/
/mediscreen_mysql/
/history-api/.gradle
/history-api/build
/history-api/logs
/assessment-api/.gradle
/assessment-api/build
/assessment-api/logs
