/gradlew
/gradlew.bat
/mediscreen_mysql/
/logs/
/.gradle/
/.idea/
/assessment-api/.gradle/
/assessment-api/.idea/
/assessment-api/build/
/assessment-api/logs/
/assessment-api/.gitignore
/assessment-api/gradlew
/assessment-api/gradlew.bat
/assessment-api/HELP.md
/history-api/.gradle/
/history-api/.idea/
/history-api/build/
/history-api/logs/
/history-api/.gitignore
/history-api/gradlew
/history-api/gradlew.bat
/history-api/HELP.md
/patient-api/.gradle/
/patient-api/.idea/
/patient-api/build/
/patient-api/logs/
/patient-api/patient-api/
/patient-api/.gitignore
/patient-api/gradlew
/patient-api/gradlew.bat
/patient-api/HELP.md
/ui-api/.gradle/
/ui-api/.idea/
/ui-api/build/
/ui-api/logs/
/ui-api/.gitignore
/ui-api/gradlew
/ui-api/gradlew.bat
/ui-api/HELP.md
