<div class="bg-light">
    <div class="container">
        <div class="row">
            <nav class="col navbar navbar-expand-lg bg-light navbar-light">
                <div class="d-flex justify-content-start align-items-center">
                    <div>
                    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
                    <img class="img-fluid" src="../static/images/logo.png" th:src="@{/images/logo.png}" width="60"
                         height="60" alt="Media picture"/>
                    </div>
                    <div class="w-100 text-right"><b>MEDISCREEN</b>
                    </div>
                </div>
                <div id="navbarContent" class="collapse navbar-collapse flex-grow-1 text-right">
                    <ul class="navbar-nav ml-auto flex-nowrap">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Resources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/patient/list">Patient</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">News Blog</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>